PRIVATE_KEY=""
ORCHESTRATION_NETWORK_RPC_NODE_URL="https://sepolia-rollup.arbitrum.io/rpc"
BROADCASTING_NETWORK_RPC_NODE_URL="https://ethereum-sepolia-rpc.publicnode.com"
BROADCASTING_NETWORK_ID="11155111"

BATCH_SENDER_SC_POLYGON_AMOY_ADDRESS="0x83AC8691B3Df9Bd8176B1D74875403097AE521CE"